body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #D8F0FA;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}


nav {
  display: flex;
  background-color: #C7DEFA;
  justify-content: center;
  padding: 0 20px 0 30px;
  background-image: linear-gradient(to right, #D8F0FA 0%, #C7DEFA 20%, #C7DEFA 80%, #D8F0FA 100%)
}

.login img {
  height: 30px;
}

.login {
  text-decoration: none;
}

.nav-link{
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px
}

a:hover {
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px 10px;
  color: #C8C2E2;
}

#journal-page > div {
  display: flex;
  justify-content: center;
  padding: 1%;
  color: #C8C2E2;
}

#delete {
  background-color: red;
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  color: #DED7FB
}

.journal {
  display: flex;
  justify-content: center;
  margin-left: 8px;
}

#today-activity {
  color: #C8C2E2
}

#edit {
  display: flex;
  justify-content: center;
}

.delete-form {
  display: flex;
  justify-content: center;
}

#delete {
  display: flex;
  justify-content: center;
}

#journal-box {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
  padding: 5px;
  margin: 5px;
}

#journal-submit {
  margin: 10px;
  color: #00B7FF;
}

#journal-submit:hover {
  background-color:#C8C2E2;
  color: white;
}

table {
  color: #C8C2E2
}